# Introduction

# Preliminary Results

### Importing and Wrangling

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [21]:
# load data from online
data <- read_csv("https://raw.githubusercontent.com/sam-coble/stat200-project/main/vancouver_harbour_weather.csv") |>
    select("Year", "Max Temp (°C)", "Min Temp (°C)", "Mean Temp (°C)")
# Rename columns
colnames(data) <- c("yr", "max", "min", "mean")

# Seperate data into two groups
old_temps <- data |>
    filter(!is.na(max) & !is.na(min) & !is.na(mean)) |>
    filter(yr < 1987) |>
    select(!yr)
new_temps <- data |>
    filter(!is.na(max) & !is.na(min) & !is.na(mean)) |>
    filter(yr > 2011) |>
    select(!yr)

head(old_temps)
head(new_temps)

Rows: 8036 Columns: 31
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (14): Station Name, Month, Day, Max Temp Flag, Min Temp Flag, Mean Temp...
dbl  (13): Longitude (x), Latitude (y), Climate ID, Year, Max Temp (°C), Min...
lgl   (3): Data Quality, Dir of Max Gust (10s deg), Spd of Max Gust (km/h)
date  (1): Date/Time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  max min mean
1 3.3 0.6 2.0
2 7.2 1.1 4.2
3 6.7 5.0 5.9
4 6.7 2.2 4.5
5 4.4 1.1 2.8
6 5.6 3.3 4.5

  max  min mean
1  7.3 3.5 5.4
2  9.5 2.8 6.2
3  8.9 7.2 8.1
4 11.3 8.2 9.8
5  8.9 5.8 7.4
6  5.9 4.0 5.0

### Plots and Tables

In [ ]:
# Plots of the two distributions

In [22]:
# Parameters of interest

# Methods: Plan

# References

### Dataset:

https://climate.weather.gc.ca/climate_data/hourly_data_e.html?hlyRange=1976-01-20%7C2023-03-07&dlyRange=1925-11-01%7C2023-03-07&mlyRange=1925-01-01%7C2007-02-01&StationID=888&Prov=BC&urlExtension=_e.html&searchType=stnName&optLimit=yearRange&StartYear=1840&EndYear=2023&selRowPerPage=25&Line=0&searchMethod=contains&Month=3&Day=7&txtStationName=Vancouver+Harbour&timeframe=1&Year=2023